{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container">
        {% include 'landing_page/partials/form_new.html.twig' %}
    </div>                 
{% endblock %}
